<p><prism language="sparql" source="{{ persoon.sparql() }}"></prism></p>
<div *ngIf="guessedRight2()">
  <h2>Gefeliciteerd, je hebt gewonnen!</h2>
  <p>De persoon die ik in gedachten had was inderdaad <em>{{ givenName }}</em>, je hebt het in {{ guesses }} keer geraden.</p>
  <p>Klik op de kaart om te bekijken hoe de RDF er uit ziet.</p>
</div>
<div *ngIf="!tuple && !guessedRight2()" class="raad-menu">  
  <p *ngFor="let tuple of tuples; let i = index" >
    <a [class.correctGuess]="guessedTuples.has(tuple)" class="button but_secondary but_small" (click)="setTuple(i)">
      {{ tuple.question }}
    </a>
  </p>
</div>
<div *ngIf="tuple && !guessedRight2()">
  <h3>{{ tuple.question }}</h3>
  <p *ngFor="let obj of tuple.objects">
    <a 
      class="button but_secondary but_small"
      [class.correctGuess]="guessedRight(obj)"
      [class.active]="guessed(obj)"
      (click)="answer(obj)">
      {{ obj.label }} 
    </a>
  </p>
  <p>
    <a class="button but_main" (click)="tuple = undefined">
      &laquo; terug
    </a>
  </p>
</div>
<div *ngIf="results" [ngClass]="{'kaarten': results.length > 1}">
  <h1 *ngFor="let kaart of results" class="kaart {{ kleurKaart() }}" (click)="goto(kaart.voornaam.value)" style="cursor: pointer;">
    <img [src]="img(kaart.afbeelding.value).src">
    <p>{{ kaart.voornaam.value }}</p>
  </h1>
</div>
<p *ngIf="!guessedRight2()">je hebt {{ guesses }} keer geraden</p>
<p><a class="button but_main" href="/spel">Start opnieuw</a></p>
<p>&nbsp;</p>