<div *ngIf="count == 0">
  <p *ngIf="persoon?.tuples?.size">
    <prism language="turtle" source="{{ rdf() }}"></prism>
  </p>
  <h2>Oops!</h2>
  <p>
    Het lijkt er op dat we geen kaart kunnen vinden <br>
    die aan jouw beschrijving voldoet.
  </p>
  <prism language="sparql" source="{{persoon!.sparql()}}"></prism>
  <p>
    <a class="button but_main" (click)="reset()">Begin opnieuw</a>
  </p>
</div>
<div *ngIf="count != 0 && hasNext()">
  <h1>Kenmerken van jouw kaart</h1>
  <prism *ngIf="persoon?.tuples?.size" language="turtle" source="{{ rdf() }}"></prism>
  <h2>{{ tuple!.question }}:</h2>
  <ul>
    <li *ngFor="let obj of tuple!.objects">
      <a 
        class="button but_secondary" 
        [class.active]="tuple!.object == obj" (click)="setObject(obj)">{{ obj.label }}</a>
    </li>
  </ul>
</div>
<p *ngIf="!hasNext()">
  <prism *ngIf="persoon?.tuples?.size" language="turtle" source="{{ rdf() }}"></prism>
</p>
<div *ngIf="results" [ngClass]="{'kaarten': results.length > 1}">
  <h1 *ngFor="let kaart of results" class="kaart {{ kleurKaart() }}" (click)="goto(kaart.voornaam.value)" style="cursor: pointer;">
    <img [src]="img(kaart.afbeelding.value).src">
    <p>{{ kaart.voornaam.value }}</p>
  </h1>
</div>

<div *ngIf="count == 1">
  <p>
    <a class="button but_main" (click)="reset()">Begin opnieuw</a>
  </p>
</div>
<!-- <a *ngIf="hasNext() && tuple?.hasObject() && count>1" class="button but_main" (click)="next()">Volgende kenmerk &raquo;</a> -->
<!-- <a *ngIf="(!hasNext() && tuple?.hasObject()) || count == 1" class="button but_main" routerLink="/resultaat">Bekijk resultaat</a> -->
